@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  --PADDING-LEFT: 30px;
  --BORDER: 10px;
  --GREEN: #739072;
  --DARK-GREEN: #3a4d39;
  --LIGHT-COLOR: #ece3ce;
}

/* ************* */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 180px 1fr;
}

/* Navigation Section start */

.top-container {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 1px 5px var(--GREEN);
  z-index: 10;
  color: var(--DARK-GREEN);
}

.nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nav-subgrid1 {
  display: grid;
  grid-template-columns: max-content 90%;
  align-items: center;
  padding-left: var(--PADDING-LEFT);
  gap: 15px;
}

input[type="search"] {
  appearance: none;
  height: 40px;
  border-radius: 20px;
  font-size: inherit;
  padding: 5px;
  background-color: var(--LIGHT-COLOR);
}

.nav-subgrid2 {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

/* Navigation Section ends */

/* Header Section Starts */

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.header-subgrid1 {
  display: grid;
  grid-template-columns: max-content max-content;
  padding-left: var(--PADDING-LEFT);
  gap: 15px;
}

.header-subgrid1 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-subgrid2 {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  gap: 30px;
}

.header-subgrid2 > button {
  font-size: inherit;
  padding: 10px 35px;
  border-radius: 20px;
  background-color: var(--LIGHT-COLOR);
  color: inherit;
  font-weight: bold;
  border: 2px solid var(--DARK-GREEN);
  width: 140px;
}

/* Header Section Ends */

/* Aside Left Section Starts */

.aside-left {
  grid-area: 1/1/3/2;
  padding-left: 20px;
  padding-top: 15px;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 70px;
  background-color: var(--GREEN);
  color: var(--LIGHT-COLOR);
  font-weight: bold;
}

.aside-left img,
.aside-right img {
  filter: invert(97%) sepia(1%) saturate(2711%) hue-rotate(356deg)
    brightness(97%) contrast(90%);
}

.top-container img,
.project-ctn img {
  filter: invert(26%) sepia(15%) saturate(893%) hue-rotate(69deg)
    brightness(88%) contrast(82%);
}

.aside-left-grid1,
.aside-left-grid2,
.aside-left-grid3 {
  display: grid;
  grid-template-columns: 40px max-content;
  column-gap: 15px;
  row-gap: 25px;
  align-items: center;
}

.aside-left-grid2 img,
.aside-left-grid3 img {
  justify-self: center;
}

/* Aside Left Section Ends */

/* Project Section Starts */

.project-section {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--LIGHT-COLOR);
  padding: 30px;
  padding-bottom: 0;
  color: var(--DARK-GREEN);
}

.project-ctn {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.all-cards-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 30px;
}

.project-card-ctn {
  width: 375px;
  height: 250px;
  padding: 30px;
  background-color: var(--GREEN);
  border-left: 10px solid var(--DARK-GREEN);
  color: var(--LIGHT-COLOR);
  display: grid;
  border-radius: var(--BORDER);
  grid-template-rows: 70% max-content;
  gap: 30px;
}

.card-text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.card-options {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.aside-right {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.announcement-ctn {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 20px;
}

.announcement-subgrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--GREEN);
  color: var(--LIGHT-COLOR);
  justify-content: center;
  border-radius: var(--BORDER);
  padding: 5px 0;
}

.announcement-text-cnt {
  border-bottom: 4px solid var(--DARK-GREEN);
  width: 210px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.announcement-text-cnt:last-child {
  border: none;
}

.trending-ctn {
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 20px;
}

.trending-subgrid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--GREEN);
  color: var(--LIGHT-COLOR);
  justify-content: center;
  border-radius: var(--BORDER);
}

.trending-info-ctn {
  display: flex;
  column-gap: 10px;
  padding: 15px;
  align-items: center;
}

/* Project Section Ends */
