@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-menu {
  display: none;
  width: 30px;
}

/* VARIABLES */

:root {
  --PADDING-LEFT: 30px;
  --BORDER: 10px;
  --GREEN: #739072;
  --DARK-GREEN: #3a4d39;
  --LIGHT-COLOR: #ece3ce;
  --WHITE: #fff;
}

/* ************* */

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 180px 1fr;
}

/* Navigation Section start */

.top-container {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 1px 5px var(--GREEN);
  z-index: 10;
  color: var(--DARK-GREEN);
  background-color: var(--WHITE);
  gap: 15px;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-left: var(--PADDING-LEFT);
  padding-right: var(--PADDING-LEFT);
  gap: 15px;
}

.nav-subgrid1 {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 7px;
}

.nav-subgrid2 {
  display: grid;
  grid-template-columns: min-content min-content max-content;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-subgrid2 > img,
.nav-subgrid2 > p {
  cursor: pointer;
}

.nav-userName:hover,
.nav-userName:focus {
  text-decoration: underline;
}

.search-logo-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="search"] {
  appearance: none;
  height: 40px;
  border-radius: 20px;
  font-size: inherit;
  padding: 5px;
  background-color: var(--LIGHT-COLOR);
}

/* Navigation Section ends */

/* Header Section Starts */

.header {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding-left: var(--PADDING-LEFT);
  padding-right: var(--PADDING-LEFT);
  background-color: var(--WHITE);
}

.header-subgrid1 {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 10px;
}

.header-subgrid2 {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 25px;
  align-items: center;
}

.header-subgrid2 > button {
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--LIGHT-COLOR);
  color: inherit;
  font-weight: bold;
  border: 2px solid var(--DARK-GREEN);
  width: 100px;
  cursor: pointer;
}

.header-subgrid2 > button:hover,
.header-subgrid2 > button:focus {
  background-color: var(--GREEN);
  color: var(--LIGHT-COLOR);
}

/* Header Section Ends */

/* Aside Left Section Starts */

.aside-left {
  grid-area: 1/1/3/2;
  padding: 23px 20px 0;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 70px;
  background-color: var(--GREEN);
  color: var(--LIGHT-COLOR);
  font-weight: bold;
  position: sticky;
  top: 0;
  align-self: start;
  height: 100dvh;
}

.aside-left img,
.aside-right img {
  filter: invert(97%) sepia(1%) saturate(2711%) hue-rotate(356deg)
    brightness(97%) contrast(90%);
}

.top-container img,
.project-ctn img {
  filter: invert(26%) sepia(15%) saturate(893%) hue-rotate(69deg)
    brightness(88%) contrast(82%);
}

.aside-left-grid1,
.aside-left-grid2,
.aside-left-grid3 {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 25px;
  justify-content: start;
}

.aside-link {
  display: grid;
  grid-template-columns: 40px min-content;
  column-gap: 15px;
  align-items: center;
  text-decoration: none;
  color: var(--LIGHT-COLOR);
}

.asode-link:focus,
.aside-link:hover {
  color: var(--DARK-GREEN);
}

.aside-link > img {
  justify-self: center;
}

/* Aside Left Section Ends */

/* Project Section Starts */

.project-section {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--LIGHT-COLOR);
  padding: 30px;

  color: var(--DARK-GREEN);
  gap: 30px;
}

.project-ctn {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.all-cards-ctn {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px;
}

.project-card-ctn {
  width: auto;
  height: auto;
  padding: 30px;
  background-color: var(--GREEN);
  border-left: 10px solid var(--DARK-GREEN);
  color: var(--LIGHT-COLOR);
  display: grid;
  border-radius: var(--BORDER);
  grid-template-rows: 70% min-content;
  gap: 30px;
}

.card-text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.card-options {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.aside-right {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}

.announcement-ctn {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.announcement-subgrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--GREEN);
  color: var(--LIGHT-COLOR);
  justify-content: center;
  border-radius: var(--BORDER);
  padding: 5px;
}

.announcement-text-cnt {
  border-bottom: 4px solid var(--DARK-GREEN);
  width: 210px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
}

.announcement-text-cnt:last-child {
  border: none;
}

.trending-ctn {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.trending-subgrid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--GREEN);
  color: var(--LIGHT-COLOR);
  justify-content: center;
  border-radius: var(--BORDER);
}

.trending-info-ctn {
  display: flex;
  column-gap: 10px;
  padding: 15px;
  align-items: center;
}

/* Project Section Ends */

@media screen and (max-width: 985px) {
  body {
    font-size: 16px;
  }

  .top-container {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .project-section {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
  }

  .nav {
    grid-template-columns: 1fr min-content;
  }

  .nav-subgrid2 {
    grid-template-columns: min-content 1fr;
  }

  .nav-profile,
  .nav-userName {
    display: none;
  }

  .hamburger-menu {
    display: block;
    justify-self: end;
    cursor: pointer;
  }

  .header {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .header-subgrid1 > img {
    width: 45px;
    height: 45px;
  }

  .header-subgrid2 > button {
    font-size: 12px;
    width: 75px;
  }
}
